<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<p><b>Title:</b><%= @book.book_title %></p>
<p><b>Body:</b><%= @book.book_body %></p>

<%= link_to "Back" , new_book_path %>
<%= link_to "Edit" , edit_book_path %>